venv/
.venv/
.env
# Ignora tudo dentro de temp_llama (inclusive subpastas)
temp_llama/
# Ignora tudo dentro de models (inclusive subpastas e arquivos grandes)
models/**
# Ignora todos os arquivos .wav em data e subpastas
data/**/*.wav
data/*.wav
# Ignora todos os arquivos .wav em gravacoes e subpastas
gravacoes/**/*.wav
gravacoes/*.wav
.omnivoice/
omnivoice_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.vscode/
.idea/
*.swp
